;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains a lot of information
;
;==========================================================

[color]
;; Active Colors
bground = #1a1b26
fground = #565f89
accent = #7aa2f7

;; Other
trans = #00000000
white = #FFFFFF
black = #000000

;; Rest
text = #c0caf5

[bar/mainbar0]
width = ${env:width}
offset-x = ${env:offsetx}
monitor = ${env:monitor}
height = 26
fixed-center = true

background = ${color.bground}
foreground = ${color.fground}

radius-top = 0.0
radius-bottom = 0.0

overline-size = 2
overline-color = ${color.accent}

font-0 = "Terminus (TTF):size=9;2"
font-1 = "Wuncon Siji:style=Regular:size=12;2"
font-2 = "Iosevka Nerd Font:style=Medium:size=16;3"
modules-left = workspace
;modules-center = mpris
modules-right = memory sep cpu sep network sep date

tray-position = right
tray-detached = false
tray-maxsize = 16
tray-background = ${color.shade1}
tray-offset-x = 0
tray-offset-y = 0
tray-padding = 1
tray-scale = 1.0

enable-ipc = true

[settings]

throttle-output = 5
throttle-output-for = 10
throttle-input-for = 30

screenchange-reload = false

compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/workspace]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/date]
type = internal/date
interval = 1.0

time = %H:%M

format = <label>
format-foreground = ${color.text}
format-padding = 1
label = %time%

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/network]
type = internal/network
interface = ens33

interval = 1.0
accumulate-stats = true
unknown-as-up = true

format-connected-foreground = ${color.text}
format-connected = <label-connected>
format-connected-padding = 1

format-disconnected-foreground = ${color.text}
format-disconnected = <label-disconnected>
format-disconnected-padding = 1

label-connected = "%{A1:cmst -d&:} %local_ip% %{A}"
label-disconnected = "%{A1:cmst -d&:}Disconnected%{A}"

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/cpu]
type = internal/cpu
interval = 0.5

format = <label>
label = CPU%percentage%%
format-foreground = ${color.text}
format-padding = 1

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/memory]
type = internal/memory
interval = 1

format = <label>
format-padding = 1
format-foreground = ${color.text}
label = RAM %used%/%total%

#+++++++++++++++++++++++++++++++++++++++

[module/sep]
type = custom/text
content-foreground = ${color.text}
content = "|"

